<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>


<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Job Application</strong>
                    </div>
                    <div class="card-body card-block">

                        <form th:object="${view}" th:action="@{/jobviewform/}+${id}" th:method="POST" class="form-horizontal">


                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-jobPost"
                                                                 class=" form-control-label">User</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{jobPostId}" id="add-jobPost"
                                                                    class="form-control" placeholder="Enter Distric Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('jobPostId')}"
                                          th:errors="*{jobPostId}">jobPostId Error</span>
                                </div>
                            </div>



                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Apply
                            </button>














                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
</body>
</html>