<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>
<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Update Country</strong>
                    </div>
                    <div class="card-body card-block">
                        <span th:class="err" th:text="${existMSG}"></span>
                        <form th:object="${country}" th:action="@{/country/edit/}+${id}" th:method="POST"
                              class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="edit-country"
                                                                 class=" form-control-label">Country</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" th:field="*{countryName}" th:value="${country.countryName}" id="edit-country"
                                           class="form-control"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('countryName')}"
                                          th:errors="*{countryName}">countryName Error</span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Update
                            </button>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>