<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>

<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Add Trainings</strong>
                    </div>
                    <div class="card-body card-block">
                        <span th:class="succes" th:text="${successMsg}"></span>
                        <span th:class="err" th:text="${rejectMsg}"></span>
                        <form th:object="${certification}" th:action="@{/certification/add}" th:method="POST" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-certification"
                                                                 class=" form-control-label">Training</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{certificName}" id="add-certification"
                                                                    class="form-control" placeholder="Enter Certification Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('certificName')}"
                                          th:errors="*{certificName}">certificName Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-organization"
                                                                 class=" form-control-label">Organization</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{organization}" id="add-organization"
                                                                    class="form-control" placeholder="Enter organization"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('organization')}"
                                          th:errors="*{organization}">organization Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-skill"
                                                                 class=" form-control-label">Duration</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{duration}" id="add-skill"
                                                                    class="form-control" placeholder="Enter duration in hours"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('duration')}"
                                          th:errors="*{duration}">duration Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-startDate"
                                                                 class=" form-control-label">Start Date</label></div>
                                <div class="col-12 col-md-9"><input type="date"  th:text="${#dates.format(certification.startDate, 'yyyy-MM-dd')}" th:field="*{startDate}" id="add-startDate"
                                                                    required="true"  class="form-control"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('startDate')}"
                                          th:errors="*{startDate}">startDate Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-endDate"
                                                                 class=" form-control-label">End Date</label></div>
                                <div class="col-12 col-md-9"><input type="date"  th:text="${#dates.format(certification.endDate, 'yyyy-MM-dd')}" th:field="*{endDate}" id="add-endDate"
                                                                    required="true"  class="form-control"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('endDate')}"
                                          th:errors="*{endDate}">endDate Error</span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Add
                            </button>


                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>