<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <title>Title</title>
    <style type="text/css">
        .error {
            color: red;;
        }

        .success {
            color: green;;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Add User</h4>
        </div>
        <div class="col-4">
            <a  class="btn" th:href="@{/}" >Home</a>
            <a class="btn" th:href="@{/add}" >Add User</a>
            <a class="btn" th:href="@{/rolelist}" >Role List</a>
            <a class="btn" th:href="@{/addrole}" >Add Role</a>
        </div>
    </div>
</div>

<span th:class="success" th:text="${successMsg}"></span>

<form th:action="@{/add}" th:object="${user}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Roles:</td>
            <td><select th:field="*{roles}" multiple>
                <option th:each="role: ${roleList}" th:value="${role.id}"><span th:text="${role.roleName}"></span></option>
            </select></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>

        <tr>
            <td>Course:</td>
            <td>
                XML: <input type="checkbox" th:value="XML" th:field="*{course}"/>
                JAVA:<input type="checkbox" th:value="JAVA" th:field="*{course}"/>
                JS: <input type="checkbox" th:value="JS" th:field="*{course}"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('course')}" th:errors="*{course}">Course Error</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                Male: <input type="radio" th:value="male" th:field="*{gender}"/>
                Female: <input type="radio" th:value="female" th:field="*{gender}"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</td>
        </tr>
        <tr>
            <td>Round:</td>
            <td>
                <select th:field="*{round}">
                    <!--<option th:value=" No Round">Select A Round</option>-->
                    <option th:value="37">37</option>
                    <option th:value="38">38</option>
                    <option th:value="39">39</option>
                </select>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('round')}" th:errors="*{round}">Round Error</td>
        </tr>

        <tr>
            <td>Birth Date:</td>
            <td><input type="date" th:field="*{birthDate}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date Error</td>
        </tr>

        <tr>
            <td>Photo:</td>
            <td><input type="file" name="file"/></td>
        </tr>

        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>

</form>
<br/><br/><br/>




</body>
</html>