<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Our Spring MVC Creud App</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <a class="btn" href="index.html"  > User</a>
        </div>
        <div class="col-3">
            <a class="btn" href="role/list.html"> Role</a>
        </div>
        <div class="col-3">

        </div>
        <div class="col-3">

        </div>
    </div>

</div>
</body>
</html>