<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table{
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>


<table>
    <tr style="background-color: white">
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Round</th>
        <th>Gender</th>
        <th>Course</th>
        <th>Birth Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="u : ${list}" style="background-color: lavenderblush">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.age}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.round}"></td>
        <td th:text="${u.gender}"></td>
<td>
    <span th:each="c : ${u.course}">
        <span th:text="${c}"/>
    </span>
</td>
        <td th:text="${u.birthDate}" th:pattern="yyyy-MM-dd"></td>
        <td><a th:href="@{'/edit/' + ${u.id}}">edit</a></td>
        <td><a th:href="@{'/del/' + ${u.id}}">Del</a></td>
    </tr>
</table>
<br/><br/><br/>

<a th:href="@{/}">Home</a>
<a th:href="@{/add}">Add</a>
<!--<a th:href="@{'/edit/' }">edit</a>-->

</body>
</html>