<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>


<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Application for Jobs</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <tr>
                                <div class="row">
                                    <div class="col col-lg-12" th:each="grid : ${application}">
                                        <section class="card">
                                            <div class="card-body text-secondary">
                                                <div>
                                                    <p>
                                            <span style="color: #0e6498" th:each="r:${grid.jobTitle}">
                                                <span th:text="${r.jobTitleName}"></span>
                                            </span>
                                                    </p>
                                                    <h4  th:text="${grid.companyName}"></h4></br>


                                                    <p style="color: #0e6498" >  Send email to <p th:text="${grid.contactEmail}"></p> with your CV</p>




                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </tr>




                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->


</body>
</html>