<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>


                    <div class="content mt-3" layout:fragment="custom-content">

                        <a href="/report" target="_blank">Report Genarate</a>
                        <a href="/pdf" target="_blank">Report Genarate PDF</a>


                        <div class="animated fadeIn">
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="card">
                                        <div class="card-header">
                                            <ul class="nav nav-tabs">

                                                <li class="nav-item">
                                                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Job Post</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a th:href="@{/jobpost/add}" class="nav-link ">Add Job Post</a>
                                                </li>

                                            </ul>
                                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>

                                    <th>Company</th>
                                    <th>Job Title</th>
                                    <th>Job Category</th>
                                    <th>Industry Type</th>
                                    <th>Vacancy</th>
                                    <th>Employee Type</th>
                                    <th>Seniority Level</th>
                                    <th>Skill</th>
                                    <th>Year Experiene</th>
                                    <th>Education</th>
                                    <th>Training</th>
                                    <th>Language</th>
                                    <th>Country</th>
                                    <th>Division</th>
                                    <th>Distric</th>
                                    <th>Company Address</th>
                                    <th>Job Description</th>
                                    <th>Edit</th>
                                    <th>Del</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="addre : ${list}">

                                    <td th:text="${addre.companyName}"></td>
                                    <td>
                                            <span th:each="r:${addre.jobTitle}">
                                                <span th:text="${r.jobTitleName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.jobCategory}">
                                                <span th:text="${r.jobCategoryName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.companyIndustry}">
                                                <span th:text="${r.comIndustry}"></span>
                                            </span>
                                    </td>

                                    <td th:text="${addre.vacancy}"></td>

                                    <td>
                                            <span th:each="r:${addre.employmentType}">
                                                <span th:text="${r.empType}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.seniorityLevel}">
                                                <span th:text="${r.seniority}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.skill}">
                                                <span th:text="${r.skillName}"></span>
                                            </span>
                                    </td>
                                    <td> <span th:each="r:${addre.yearExperience}">
                                                <span th:text="${r.year}"></span>
                                            </span>

                                    </td>
                                    <td>
                                            <span th:each="r:${addre.eduLevel}">
                                                <span th:text="${r.levelName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.certification}">
                                                <span th:text="${r.certificName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.language}">
                                                <span th:text="${r.languageName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.country}">
                                                <span th:text="${r.countryName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.division}">
                                                <span th:text="${r.divisionName}"></span>
                                            </span>
                                    </td>
                                    <td>
                                            <span th:each="r:${addre.distric}">
                                                <span th:text="${r.districName}"></span>
                                            </span>
                                    </td>


                                    <td th:text="${addre.fullAddress}"></td>
                                    <td th:text="${addre.jobDescription}"></td>

                                    <td>
                                        <a th:href="@{'/jobpost/edit/'+${addre.id}}">Edit</a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/jobpost/del/'+${addre.id}}">Del</a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

</body>
</html>