<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>
<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">


                <div class="card">
                    <div class="card-header">
                        <strong>Update User</strong>
                    </div>
                    <div class="card-body card-block">
                        <span th:class="err" th:text="${rejectMsg}"></span>
                        <form th:object="${user}" th:action="@{/user/edit/}+${id}" th:method="POST" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="hidden" th:field="*{id}" th:value="${user.id}" class="form-control"/>
                                        <input type="hidden" th:field="*{regiDate}" th:value="${user.regiDate}" class="form-control"/>
                                        <input type="hidden" th:field="*{password}" th:value="${user.password}" class="form-control"/>
                                        <input type="hidden" th:field="*{enabled}" th:value="${user.enabled}" class="form-control"/>
                                        <input type="hidden" th:field="*{confirmationToken}" th:value="${user.confirmationToken}" class="form-control"/>

                                    </div>
                                </div>

                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-fname"
                                                                 class=" form-control-label">First Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{firstName}" th:value="${user.firstName}" id="add-fname"
                                                                    class="form-control" placeholder="Enter First Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('firstName')}"
                                          th:errors="*{firstName}">firstName Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-lname"
                                                                 class=" form-control-label">Last Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{lastName}" th:value="${user.lastName}" id="add-lname"
                                                                    class="form-control" placeholder="Enter Last Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('lastName')}"
                                          th:errors="*{lastName}">lastName Error</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-uname"
                                                                 class=" form-control-label">User Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{userName}"  th:value="${user.userName}" id="add-uname"
                                                                    class="form-control" placeholder="Enter User Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('userName')}"
                                          th:errors="*{userName}">userName Error</span>
                                </div>
                            </div>

                            <!--<div class="row form-group">-->
                                <!--<div class="col col-md-3"><label for="add-Password"-->
                                                                 <!--class=" form-control-label">Password</label></div>-->
                                <!--<div class="col-12 col-md-9"><input type="text" th:field="*{password}" th:value="${user.password}" id="add-Password"-->
                                                                    <!--class="form-control" placeholder="Enter password"/>-->
                                    <!--<span th:class="err" th:if="${#fields.hasErrors('password')}"-->
                                          <!--th:errors="*{password}">password Error</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-email"
                                                                 class=" form-control-label">Email</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{email}" th:value="${user.email}" id="add-email"
                                                                    class="form-control" placeholder="Enter Email"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('email')}"
                                          th:errors="*{email}">email Error</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-mobile"
                                                                 class=" form-control-label">Mobile</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{mobile}" th:value="${user.mobile}" id="add-mobile"
                                                                    class="form-control" placeholder="Enter Mobile No"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('mobile')}"
                                          th:errors="*{mobile}">mobile Error</span>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-birthday"
                                                                 class=" form-control-label">Birth Day</label></div>
                                <div class="col-12 col-md-9"><input type="date" th:field="*{birthDate}" th:value="${user.birthDate}" id="add-birthday"
                                                                    class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                            <div class="col col-md-3"><label for="file" class=" form-control-label">Image
                            </label></div>
                            <div class="col-12 col-md-9"><input type="file" id="file" name="file"
                            class="form-control-file"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-birthday"
                                                                 class=" form-control-label">Role</label></div>
                                <div class="col-12 col-md-9">
                                    <select th:field="*{roles}" data-placeholder="Choose Role..." multiple class="standardSelect">
                                        <option value=""></option>
                                        <option th:each="role: ${rolelist}" th:value="${role.id}"><span th:text="${role.roleName}"></span></option>

                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Save User
                            </button>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>