<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>

<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Add Work Experience</strong>
                    </div>
                    <div class="card-body card-block">
                        <span th:class="succes" th:text="${successMsg}"></span>
                        <span th:class="err" th:text="${rejectMsg}"></span>
                        <form th:object="${workExperience}" th:action="@{/workexperience/add}" th:method="POST" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-Title"
                                                                 class=" form-control-label">Job Title</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{jobTitle}" id="add-Title"
                                                                    class="form-control" placeholder="Enter Job Title"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('jobTitle')}"
                                          th:errors="*{jobTitle}">year Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-Company"
                                                                 class=" form-control-label">Company Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{companyName}" id="add-Company"
                                                                    class="form-control" placeholder="Enter Company Name"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('companyName')}"
                                          th:errors="*{companyName}">companyName Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-siteurl"
                                                                 class=" form-control-label">Company Site URL</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{companySiteUrl}" id="add-siteurl"
                                                                    class="form-control" placeholder="Enter Company Website URL"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('companySiteUrl')}"
                                          th:errors="*{companySiteUrl}">companySiteUrl Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-skill"
                                                                 class=" form-control-label">Duration</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{duration}" id="add-skill"
                                                                    class="form-control" placeholder="Enter Duration in days"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('duration')}"
                                          th:errors="*{duration}">duration Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-startDate"
                                                                 class=" form-control-label">Start Date</label></div>
                                <div class="col-12 col-md-9"><input type="date"  th:text="${#dates.format(workExperience.startDate, 'yyyy-MM-dd')}" th:field="*{startDate}" id="add-startDate"
                                                                    required="true"  class="form-control"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('startDate')}"
                                          th:errors="*{startDate}">startDate Error</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-endDate"
                                                                 class=" form-control-label">End Date</label></div>
                                <div class="col-12 col-md-9"><input type="date"  th:text="${#dates.format(workExperience.endDate, 'yyyy-MM-dd')}" th:field="*{endDate}" id="add-endDate"
                                                                    required="true"  class="form-control"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('endDate')}"
                                          th:errors="*{endDate}">endDate Error</span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Add
                            </button>


                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>