<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <title>QuickJob</title>
</head>
<body>

<div class="content mt-3" layout:fragment="custom-content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <strong>Add Language</strong>
                    </div>
                    <div class="card-body card-block">
                        <span th:class="succes" th:text="${successMsg}"></span>
                        <span th:class="err" th:text="${rejectMsg}"></span>
                        <form th:object="${language}" th:action="@{/language/add}" th:method="POST" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="add-language"
                                                                 class=" form-control-label">Language</label></div>
                                <div class="col-12 col-md-9"><input type="text" th:field="*{languageName}" id="add-language"
                                                                    class="form-control" placeholder="Enter Language"/>
                                    <span th:class="err" th:if="${#fields.hasErrors('languageName')}"
                                          th:errors="*{languageName}">languageName Error</span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Add
                            </button>


                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

</body>
</html>